@keyframes dustbinAnim {
  0% {
    left: 50%; }
  100% {
    left: 87.5%; } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #333333; }

.heading-primary {
  font-family: "Arvo", sans-serif;
  font-size: 4.8rem;
  font-weight: 200; }

.heading-secondary {
  font-family: "Arvo", sans-serif;
  font-size: 2.4rem;
  font-weight: 400; }

.paragraph-header {
  line-height: 2.5rem; }

.u-container-wide {
  margin: 0 auto;
  max-width: 110rem; }

.u-container-full-height {
  height: 100%; }

.u-container {
  position: relative;
  margin: 0 auto;
  max-width: 80rem; }

.u-container-padded {
  padding: 0 2rem; }

.navbar {
  background-color: #fff;
  height: 6rem;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
  z-index: 10; }
  .navbar ul {
    list-style: none;
    float: right;
    height: 100%; }
    .navbar ul li {
      display: inline-block;
      height: 100%; }
      .navbar ul li a {
        display: inline-block;
        height: 100%;
        padding: 2rem 1rem;
        text-decoration: none;
        color: #333333;
        letter-spacing: -0.1rem;
        position: relative; }
        .navbar ul li a:hover::after {
          transform: translateY(0.2rem); }
        .navbar ul li a:hover {
          color: #737373; }
        .navbar ul li a::after {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #b3b3b3;
          z-index: -1; }
      .navbar ul li:last-child {
        margin-right: 2rem; }

.logo-box {
  height: 100%;
  display: inline-block;
  position: relative; }
  .logo-box .logo {
    width: 9rem;
    position: absolute;
    top: 57.5%;
    left: 2rem;
    transform: translateY(-50%); }

.row {
  max-width: 80rem;
  margin: 0 auto;
  position: relative;
  content: "";
  display: table;
  clear: both; }
  .row [class^="col-"] {
    float: left; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 1rem*2)/3); }
  .row .col-2-of-3 {
    width: calc(2*(100% - 1rem*2)/3 + 1rem); }
  .row .col-1-of-4 {
    width: calc((100% - 1rem*3)/4); }
  .row .col-2-of-4 {
    width: calc(  2*((100% - 1rem*3)/4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(  3*((100% - 1rem*3)/4) + 2*1rem); }

.header {
  z-index: -100;
  background-color: #f2f2f2;
  height: 33rem;
  position: relative; }
  .header__text-box {
    padding-left: 5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: #333333;
    width: 75%; }
    .header__text-box h1 {
      animation: moveUp 0.5s ease-out 2s;
      animation-fill-mode: backwards; }
    .header__text-box p {
      animation: moveUp 0.5s ease-out 2.5s;
      animation-fill-mode: backwards; }
  .header__image-box {
    position: absolute;
    top: 50%;
    left: 87.5%;
    width: 20%;
    transform: translateY(-50%) translateX(-50%);
    animation: dustbinAnim 0.6s ease-out 1s;
    animation-fill-mode: backwards; }

.footer {
  height: 4rem;
  background-color: #111;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  font-size: 1.1rem; }

.section__heading {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 2rem; }

.section-divider {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #f2f2f2; }

.section-paragraph {
  margin-bottom: 2rem; }

.section-working__row {
  height: 30rem;
  position: relative;
  margin-bottom: 2rem; }

.section-working__step {
  width: 25rem;
  height: 100%;
  position: absolute; }
  .section-working__step--img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .section-working__step--desc {
    position: absolute;
    bottom: 2rem;
    text-align: center; }
  .section-working__step--1 {
    left: 12%; }
  .section-working__step--2 {
    right: 12%; }
  .section-working__step--3 {
    left: 16%; }
  .section-working__step--4 {
    right: 16%; }

.section-mission {
  position: relative; }
  .section-mission__row {
    height: 20rem;
    position: relative;
    margin-bottom: 2rem; }
  .section-mission__text-box {
    left: 25%;
    width: 75%;
    padding-left: 2rem;
    position: absolute;
    line-height: 2.4rem; }
  .section-mission__img-box {
    top: -3rem;
    width: 25%;
    position: absolute; }

.section-workshops {
  margin-bottom: 4rem;
  line-height: 2.4rem; }
  .section-workshops__gallery-box {
    margin-top: 3rem;
    position: relative;
    padding: 37%; }
  .section-workshops__img-box {
    position: absolute; }
    .section-workshops__img-box img {
      width: 100%; }
    .section-workshops__img-box--desc {
      line-height: 1.5rem;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 800; }
    .section-workshops__img-box-1 {
      width: 60%;
      height: 60%;
      top: 0;
      left: 0; }
      .section-workshops__img-box-1 img {
        padding-right: 4%; }
    .section-workshops__img-box-2 {
      width: 40%;
      height: 50%;
      top: 0;
      left: 60%; }
    .section-workshops__img-box-3 {
      width: 30%;
      height: 40%;
      top: 60%;
      left: 0; }
      .section-workshops__img-box-3 img {
        padding-right: 8%;
        padding-top: 7%; }
    .section-workshops__img-box-4 {
      width: 30%;
      height: 40%;
      top: 60%;
      left: 30%; }
      .section-workshops__img-box-4 img {
        padding-right: 8%;
        padding-top: 7%; }
    .section-workshops__img-box-5 {
      width: 40%;
      height: 50%;
      top: 50%;
      left: 60%; }

.section-contact {
  margin-top: 4rem;
  height: 30rem;
  margin-bottom: 4rem;
  position: relative; }
  .section-contact__info {
    position: absolute;
    width: 48%;
    padding-top: 1rem; }
    .section-contact__info--logo-box {
      position: absolute;
      width: 50%; }
      .section-contact__info--logo-box img {
        padding-top: 1rem;
        width: 100%; }
    .section-contact__info--desc-box {
      position: absolute;
      left: 50%;
      width: 50%; }
      .section-contact__info--desc-box h3 {
        padding-top: 6rem;
        padding-bottom: 0.5rem;
        text-align: left; }
      .section-contact__info--desc-box p {
        padding-bottom: 0.5rem;
        font-size: 1.2rem; }
    .section-contact__info--links-sm {
      padding-top: 1.5rem; }
      .section-contact__info--links-sm a {
        padding-right: .5rem; }
  .section-contact__feedback {
    background-color: #f2f2f2;
    border-radius: 1rem;
    position: absolute;
    width: 48%;
    left: 52%;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.35);
    padding: 1.5rem;
    text-transform: uppercase; }
    .section-contact__feedback--heading {
      font-size: 1.6rem;
      text-align: center;
      font-weight: 400;
      padding-bottom: 1rem; }
    .section-contact__feedback--form-group {
      padding-top: 1rem; }
      .section-contact__feedback--form-group label {
        display: inline-block;
        width: 25%;
        font-size: 1.2rem;
        vertical-align: top;
        padding-top: 0.3rem; }
      .section-contact__feedback--form-group input {
        display: inline-block;
        width: 70%;
        border: 0;
        line-height: 2.5rem; }
    .section-contact__feedback--message {
      resize: none;
      border: 0;
      line-height: 2.5rem;
      width: 70%; }
    .section-contact__feedback--submit-btn {
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 2rem;
      padding: .8rem 4rem;
      border-radius: 50rem;
      color: #fff;
      background-color: #333333;
      border: 0;
      box-shadow: none;
      box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.8);
      transition: all 0s ease-out; }
      .section-contact__feedback--submit-btn:hover {
        background-color: #595959; }
      .section-contact__feedback--submit-btn:active {
        transform: translateX(-50%) translateY(0.2rem);
        box-shadow: none;
        outline: none; }
      .section-contact__feedback--submit-btn:focus {
        outline: none; }
