//FONTS
$font-heading : "Arvo" ,sans-serif;
$font-main : "Montserrat" ,sans-serif;
$font-size-default : 1.6rem;

//COLORS
$color-grey-dark: #333333;
$color-grey-light: #f2f2f2;
$color-black: #000;
$color-white: #fff;

//GRID
$width-large : 110rem;
$width-small : 80rem;
$width-extra-small : 40rem;

$grid-width: $width-small;
$gutter-vertical : 1rem;
$gutter-horizontal : 1rem;
