.header{
	z-index : -100;
	background-color: $color-grey-light;
	height: 33rem;
	position: relative;

	&__text-box{
		padding-left: 2rem;
		position: absolute;
		top: 50%;
		transform : translateY(-50%);
		left: 0;

		color: $color-grey-dark;
		width: 75%;
	}

	&__image-box{
		position: absolute;
		top: 50%;
		left: 87.5%;
		width: 25%;
		transform : translateY(-50%) translateX(-50%);
		
		
	}
}